*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-color: rgb(21, 21, 87);
    color: rgb(230, 230, 230);
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, 
section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img{
    height: 24px;
}

.logos li{
    display: inline;
    margin-right: 8px;
}

section .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
    color: rgb;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

header,
section h1,
section h2,
section h3,
form button{
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body,
input,
textarea{
    font-family: "Roboto", sans-serif;
}

.social img{
    height: 24px;
    margin-right: 8px;
}

.social li{
    display: inline;
    margin: 8px;
}

.social li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display:block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: rgb(21, 21, 87);
    color: rgb(230, 230, 230);
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgba(51, 51, 167, 0.8);
}

input:focus, textarea:focus{
    outline-color: rgba(39, 6, 77, 0.8)
}

footer{
    padding: 16px 0;
    background-color: rgb(21, 21, 87);
    color: rgb(230, 230, 230);
}